<h2>{{ title }}</h2>

<table>
    <tr>
        <td>Kid’s & Cribs Child Enrichment Center  Alexandria, KY 03.20-01.21</td>
    </tr>
    <tr>
        <td>Director of Education  |  Center Director</td>
    </tr>
    <tr></tr>
    <tr>
        <p>Successfully improved lead teacher lesson planning with strategic coaching and instruction. 
            Provided leadership for team of 25 full time / part time employees. Implemented protocols 
            to improve communication and knowledge both within management team and between management 
            and staff. Effectively established positive relationships with families and staff to retain 
            retention rates during pandemic.</p>
    </tr>
    <tr>
        <span>Identified, successfully implemented creative curriculum and best practices in seven classrooms</span>
        <span>Followed and adhered to KY state licensing and All-Star program classroom requirements</span>
        <span>Interviewed, hired, on-boarded and coached employees</span>
        <span>Developed and managed Excel database for enrollees and waiting list</span>
        <span>Interfaced with 25 employees to determine professional development goals; planned strategy to reach individual goals and to meet associated required training for state and All-Star program</span>
        
    </tr>
</table>
